%li= link_to 'PEDS', peds_path

- if user_signed_in?
  %li= link_to "#{t 'sign_out'}", destroy_user_session_path, :method=>'delete'
- else
  %li= link_to "#{t 'sign_in'}", new_user_session_path, data: { no_turbolink: true }
  %li= link_to "#{t 'sign_up'}", new_user_registration_path, data: { no_turbolink: true }
